.topnav {
	margin-top: 1rem;
	color: black;
}

li {
	display: inline;
	padding: 0%;
}

ul {
	padding: 0%;
	margin: 0%;
	text-align: center;
}


a {
color: black;
text-decoration: none;
font-family: times new roman;
/*font-size: 1rem;*/
animation: fadeIn 3s;
}

/*.navlogo {
	width: 16%;
	margin-top: 0px;
	opacity: 0%;
}*/

.aboutpage {
	display: flex;
	background-color: black;
}

.about_a {
	text-align: right;
	animation: fadeIn 5s;
	margin-top: 0%;
	color: white;
}

.about_a:hover {
text-decoration: underline;
}

body {
background-color: white;
margin: 0%;
padding: 0%;
}


.placeholder_6 {
	height: 21.8rem;
	background-color: black;
	animation: fadeIn 2.5s;
	margin-bottom: 21.8rem;

}

.placeholder_5 {
	height: 21.8rem;
	background-color: black;
	animation: fadeIn 2.5s;
	margin-bottom: 21.8rem;

}

.placeholder_4 {
	height: 21.8rem;
	background-color: black;
	animation: fadeIn 2.5s;
	margin-bottom: 21.8rem;

}

.placeholder_3 {
	height: 21.8rem;
	background-color: black;
	animation: fadeIn 2.5s;
	margin-bottom: 21.8rem;

}

.placeholder_2 {
	height: 21.8rem;
	background-color: #70aa00;
	animation: fadeIn 2.5s;
	margin-bottom: 21.8rem;

}

.placeholder {
	height: 21.8rem;
	background-color: #5a839d;
	animation: fadeIn 2.5s;
	margin-bottom: 21.8rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.releaseimg {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 4.5rem;
animation: fadeIn 5s;
}

.releaseimg img {
	width: 21.4rem;
	border-radius: 0.8rem;
border-width: 0.17;
}

.releaseimg img:hover {
	opacity: 85%;
}

.release_p {
text-align: center;
font-size: 1.3rem;
animation: fadeIn 6s;
margin-top: 0rem;
}

.release_a:hover {
text-decoration: ; 
/*opacity: 50%;*/
color: #5a839d;
}


.streamnav {
margin-left: auto;
margin-right: auto;
padding-top: 2.5rem;
}


.streamnav img {
margin-left: 0.7rem;
margin-right: 0.7rem;
  width: 3rem;
  padding: 0rem;
  animation: fadeIn 8s;

}

.streamnav img:hover {
	opacity: 50%;
}

.divider {
color: black;
font-size: 0.8rem;
text-align: center;
animation: fadeIn 10s;
margin-top: 0rem;
}

.divider:hover {
color:#5a839d ;
}

.footerdesc {
	color: black;
	font-size: 0.6rem;
	text-align: center;
	animation: fadeIn 8s;
	margin-top: 0rem;
/*	text-decoration: underline;*/
}

.footerdesc:hover {
	color:#5a839d ;
}
