body {
background-color: #5a839d;
margin: 0%;
padding: 0%;
}

.back {
	color: white;
	text-decoration: none;
}
.placeholder {
	height: 7.3rem;
	background-color: #5a839d;
	animation: fadeIn 2.5s;
}

.about_t {
	display: block;
	padding-top: 1rem;
	text-align: center;
	color: white;
	font-size: 1.7rem;
}

.placeholder_2 {
	height: 56.8rem;
	background-color: white;
	animation: fadeIn 2.5s;
}

.about_p {
	display: block;
	text-align: center;
	color: #5a839d;
	font-size: 1.2rem;
	padding: 2rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.cemetary {
	display: block;
	width:21.4rem;
	margin-left: auto;
	margin-right: auto;
}

.eye {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:8.2rem;
	padding: 3rem;
}

.jung {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:12rem;
	padding: rem;
}

.contact_t {
	padding-top: 1rem;
	color: white;
	font-size: 1.7rem;
	text-align: center;
}

.contact_p {
	color: white;
	font-size: 1.2rem;
	padding-top: 0.3rem;
	text-align: center;
}

.divider {
color: black;
font-size: 0.8rem;
text-align: center;
animation: fadeIn 10s;
margin-top: 3.2rem;
}

.footerdesc {
	color: black;
	font-size: 0.6rem;
	text-align: center;
	animation: fadeIn 8s;
	margin-top: 0.5rem;
/*	text-decoration: underline;*/
}
